.edit-list {
    max-width: 900px;
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px;
}
.edit-list__descr,
.edit-list__field {
    max-width: 100%;
    width: 100%;
    padding: 10px 15px;
    display: block;
    outline: none;
    font-family: 'Andika', sans-serif;
    border: solid 1px #eee;
    transition-property: border-color;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}
.edit-list__descr {
    min-height: 250px;
    resize: none;
}
.edit-list__descr:focus,
.edit-list__field:focus {
    border: solid 1px rgb(54, 160, 247, 0.6);
}

.edit-list__buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-list__button {
    margin-right: 2px;
}

.edit-list__button:last-child {
    margin-right: 0px;
}
