.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(54, 160, 247, 0.5);
    border-right: solid 1px rgb(54, 160, 247, 0.5);
    margin-bottom: 40px;
}
