.menu-item {
    /* padding: 15px 0px 15px 25px; */
    cursor: pointer;
    font-family: 'Andika', sans-serif;
    line-height: 1.2;
    /* transition-property: all;
    transition-duration: 0.5s; */
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .menu-item:hover .menu-item__options {
    opacity: 1;
} */
.menu-item.active .menu-item__options {
    opacity: 1;
    width: 30%;
}
.menu-item.active .menu-item__name {
    width: 70%;
}
.menu-item.active .menu-item__name {
    background: rgb(0, 0, 0, 0.1);
}
.menu-item:hover .menu-item__name {
    background: rgb(255, 255, 255, 0.1);
}

.menu-item__name {
    padding: 15px 10px 15px 25px;
    width: 100%;
    /* transition-property: all;
    transition-duration: 0.5s; */
}
.menu-item__options {
    width: 0%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    opacity: 0;
    /* transition-property: all;
    transition-duration: 0.5s; */
}

.menu-item__button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 13px;
    border-right: 1px dashed rgb(255, 255, 255, 0.4);
}
.menu-item__button:last-child {
    border-right: 1px dashed transparent;
}

@media screen and (max-width: 992px) {
    .menu-item__name {
        padding: 15px 10px 15px 15px;
    }
    .menu-item__button {
        font-size: 18px;
        padding: 10px;
    }
}
