.footer {
    min-height: 50px;
    position: relative;
    padding: 0px 15px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
.footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(235, 234, 234);
    font-size: 12px;
    font-size: 12px;
}
.footer__left {
    font-size: 12px;
    position: relative;
    z-index: 1;
}
.footer__right {
    position: relative;
    z-index: 1;
}
.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
        0 17px 1px -6px rgba(0, 0, 0, 0.2);
}

.filter-button {
    cursor: pointer;
    font-size: 12px;
    background: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 5px;
    transition-property: border-color;
    transition-duration: 0.5s;
}

.filter-button:hover {
    border: 1px solid rgba(168, 168, 168, 0.5);
}

.filter-button.active {
    border: 1px solid rgb(54, 160, 247, 0.5);
}
